<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Whoops, looks like something went wrong.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="robots" content="noindex,nofollow"/>
  <style type="text/css">
    h1, h2, ol, li {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
