<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" bgcolor="#f6f6f6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="robots" content="noindex,nofollow"/>
  <style type="text/css">
    body, ul {
      margin: 0;
    }

    h1, h2, li {
      margin: 0;
      padding: 0;
    }

    ol, ul {
      padding-left: 5px;
    }

    table {
      padding: 10px 20px;
      margin: 10px auto;
      border-radius: 5px;
      border: 1px solid #adadad;
      width: 90%;
    }

    table h2 {
      margin: 20px 0 0 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #adadad;
    }

  </style>
</head>
<body style="background: #f6f6f6; padding: 30px 0;">
{% block body %}
  <table style="background: #fff;">
    <tr>
      <td>
        {% block content %}{% endblock %}
      </td>
    </tr>
  </table>
{% endblock %}
</body>
</html>
